body{
    margin: 0%;
    padding: 0%;
    background-color: white;
    background-image: url('doctor2.jpg');
    background-repeat: no-repeat;
}

.doublenav .topnav{
    width: 100%;
    height: 55px;
    background-color: white;
}

.doublenav .topnav .left ul{
    list-style-type: none;
    margin: 0px;
    padding: 0%;
    overflow: hidden;
}

.doublenav .topnav .left ul li{
    float: left;
    padding-left: 85px;
}

.doublenav .topnav .left ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 13px 15px;
}

.doublenav .bottomnav .right ul li a:hover:not(.active){
    background-color: rgb(0, 7, 10);
    color: white;
}

.active{
    background-color: rgb(49, 125, 224);
}

.doublenav .topnav .right ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.doublenav .topnav .right ul li{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 13px 25px;
}

.doublenav .bottomnav{
    width: 100%;
    height: 55px;
    background-color: white;
}

.doublenav .bottomnav .left img{
    float: left;
    height: 45px;
    width: 120px;
    padding-left: 90px;
}

.doublenav .bottomnav .right ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.doublenav .bottomnav .right ul li{
    float: right;
}

.doublenav .bottomnav .right ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 13px 55px;
}

.doublenav .bottomnav .right ul li button{
    height: 40px;
    width: 100px;
    background-color: rgb(77, 125, 230);
    border: rgb(77, 125, 230);
    text-align: center;
    color: black;
    padding-left: 15px;
}

.h11{
    padding-left: 85px;
}

.p11{
    padding-left: 85px;
}

.buttons li{
    float: left;
    padding-top: 25px;
    padding-left: 75px;
    list-style-type: none;
    overflow: hidden;
}

.buttons .button2{
    height: 45px;
    width: 150px;
    background-color: rgb(16, 89, 223);
    color: white;
    border: rgb(16, 89, 223);
}

.buttons .button2:hover{
    background-color: black;
    transition: 0.5s;
}

.buttons .button3{
    height: 45px;
    width: 150px;
    background-color: black;
    color: white;
}

.buttons .button3:hover{
    background-color: rgb(16, 89, 223);
    border-color: rgb(16, 89, 223);
    transition: 0.5s;
}

.boxes{
    float: left;

}

.boxed1{
    float: left;
    border: 1px solid rgb(16, 89, 223);
    background-color: rgb(16, 89, 223);
    height: 240px;
    width: 280px;
    margin: 25px 75px 25px 85px;
    padding: 13px 15px;
}

.boxed1 p{
    color: white;
}

.boxed1 h3{
    color: white;
}

.boxed1 a{
    color: white;
}

.boxes .boxed2{
    float: left;
}

.boxed2{
    border: 1px solid rgb(16, 89, 223);
    background-color: rgb(16, 89, 223);
    height: 240px;
    width: 280px;
    margin: 25px 85px 25px 35px;
    padding: 13px 15px;
}

.boxed2 p{
    color: white;
}

.boxed2 h3{
    color: white;
}

.boxed2 a{
    color: white;
}

.boxes .boxed3{
    float: left;
}

.boxed3{
    border: 1px solid rgb(16, 89, 223);
    background-color: rgb(16, 89, 223);
    height: 240px;
    width: 280px;
    margin: 25px 85px 25px 35px;
    padding: 13px 15px;
}

.boxed3 p{
    color: white;
}

.boxed3 h3{
    color: white;
}

.boxed3 table{
    color: white;
}

.boxed3 a{
    color: white;
}

.p12{
    text-align: center;
    padding-top: 20px;
}

.pic2{
    height: 50px;
    width: 100px;
    align-items: center;
    padding-left: 45%;
    padding-bottom: 20px;
}

.p13{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: solid;
}

.pics ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.pics ul li{
    float: left;
}

.pic3{
    padding-top: 50px;
    padding-left: 85px;
    padding-right: 65px;
}

.pic4{
    padding-top: 50px;
    padding-left: 85px;
    padding-right: 65px;
}

.pic5{
    padding-top: 50px;
    padding-left: 85px;
    padding-right: 65px;
}

.nametag ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.nametag ul li{
    float: left;
}

.li1{
    padding: 20px 150px 30px 180px;
    color: black;
}

.li2{
    padding: 20px 150px 30px 150px;
    color: black;
}

.li3{
    padding: 20px 150px 30px 130px;
    color: black;
}
